# Environnements virtuels
.venv/
venv/
env/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Config éditeurs
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Bases locales (si tu veux ne pas les committer)
*.db

# Logs
*.log
